In [2]:
import pandas as pd

In [3]:
data_train = pd.read_csv('C:\\Users\\Harry\\Documents\\DS\\Datasets\\senti_set\\dataset\\hm_train.csv', index_col=False)
data_test = pd.read_csv('C:\\Users\\Harry\\Documents\\DS\\Datasets\\senti_set\\dataset\\hm_train.csv', index_col=False)

In [4]:
data_train.head()

,hmid,reflection_period,cleaned_hm,num_sentence,predicted_category
0,27673,24h,I went on a successful date with someone I fel...,1,affection
1,27674,24h,I was happy when my son got 90% marks in his e...,1,affection
2,27675,24h,I went to the gym this morning and did yoga.,1,exercise
3,27676,24h,We had a serious talk with some friends of our...,2,bonding
4,27677,24h,I went with grandchildren to butterfly display...,1,affection

In [5]:
data_train = data_train.drop(['hmid', 'reflection_period'], axis=1)
data_train.head()

,cleaned_hm,num_sentence,predicted_category
0,I went on a successful date with someone I fel...,1,affection
1,I was happy when my son got 90% marks in his e...,1,affection
2,I went to the gym this morning and did yoga.,1,exercise
3,We had a serious talk with some friends of our...,2,bonding
4,I went with grandchildren to butterfly display...,1,affection

In [6]:
data_train['predicted_category'].value_counts()

affection           20880
achievement         20274
bonding              6561
enjoy_the_moment     6508
leisure              4242
nature               1127
exercise              729
Name: predicted_category, dtype: int64

In [7]:
categories = {'affection': 0, 'achievement': 1, 'bonding': 2, 'enjoy_the_moment': 3, 'leisure': 4, 'nature': 5, 'exercise': 6}

In [8]:
data_train['predicted_category'] = data_train['predicted_category'].map(categories)

In [9]:
data_train.head()

,cleaned_hm,num_sentence,predicted_category
0,I went on a successful date with someone I fel...,1,0
1,I was happy when my son got 90% marks in his e...,1,0
2,I went to the gym this morning and did yoga.,1,6
3,We had a serious talk with some friends of our...,2,2
4,I went with grandchildren to butterfly display...,1,0

In [10]:
sentences = data_train['cleaned_hm'].tolist()
num_sentence = data_train['num_sentence'].tolist()
category = data_train['predicted_category'].tolist()

In [11]:
count = 0
count2 = 0
count3 = 0
for i in range(len(sentences)):
    try:
        a = sentences[i].strip().split('.')
        a = [i for i in a if i] 
        if len(a) != num_sentence[i]:
#             print(sentences[i])
#             print(a)
#             print(len(a))
#             print(num_sentence[i])
#             print('not cool')
            count += 1
    except:
        count3 += 1
        if num_sentence[i] != 1:
            print('problem')
            count2 += 1

In [12]:
count3

0

In [13]:
count2

0

In [14]:
len(category)

60321

In [15]:
new_sentences_list = []
categories_list = []
for i in range(len(sentences)):
    try:
        a = sentences[i].strip().split('.')
        a = [j for j in a if j] 
        if len(a):
            for sent in a:
                new_sentences_list.append(sent.strip())
                categories_list.append(category[i])
    except:
        if num_sentence[i] != 1:
            print('problem')

In [16]:
print(len(sentences))
print(len(category))

print(len(new_sentences_list))
print(len(categories_list))

60321
60321
83643
83643

In [17]:
print(new_sentences_list[:10])

['I went on a successful date with someone I felt sympathy and connection with', 'I was happy when my son got 90% marks in his examination', 'I went to the gym this morning and did yoga', 'We had a serious talk with some friends of ours who have been flaky lately', 'They understood and we had a good evening hanging out', 'I went with grandchildren to butterfly display at Crohn Conservatory', 'I meditated last night', 'I made a new recipe for peasant bread, and it came out spectacular!', 'I got gift from my elder brother which was really surprising me', 'YESTERDAY MY MOMS BIRTHDAY SO I ENJOYED']

In [18]:
print(categories_list[:10])

[0, 0, 6, 2, 2, 0, 4, 1, 0, 3]

In [21]:
import pickle
with open('sentences_list.pkl', 'wb') as f:
    pickle.dump(new_sentences_list, f)
    
with open('categories_list.pkl', 'wb') as f:
    pickle.dump(categories_list, f)